<section class="pagination">
    <% if(currentPage != 1) { %>
        <a href="?page=1">First</a>
    <% } %>
    <% if(hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>">Previous</a>
    <% } %>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if(hasNextPage) { %>
        <a href="?page=<%= nextPage %>">Next</a>
    <% } %>
    <% if(lastPage != currentPage) { %>
        <a href="?page=<%= lastPage %>">Last</a>
    <% } %>
</section>